<!-- frontend/src/templates/cars.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cars</title>
    <link rel="stylesheet" href="/src/static/styles.css">
</head>

<body>
    <h1>Cars</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Image</th>
                <th>Name</th>
                <th>Manufacturer</th>
                <th>Year</th>
            </tr>
        </thead>
        <tbody>
            {{range .}}
            <tr>
                <td>{{.Car.ID}}</td> <!-- Access ID field from Car struct within CarWithManufacturer -->
                <td><img src="/static/{{.Car.Image}}" alt="{{.Car.Name}}" width="100"></td>
                <td><a href="/cars/{{.Car.ID}}">{{.Car.Name}}</a></td>
                <td>{{.ManufacturerName}}</td>
                <td>{{.Car.Year}}</td>
            </tr>
            {{else}}
            <tr>
                <td colspan="5">No cars available.</td>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>

</html>
